!!! 5
html
  head
    title Aria Templates Sample: #{title}
    link(href='http://ariatemplates.com/styles/webfonts.css', rel='stylesheet')
    link(href='http://ariatemplates.com/styles/snippets/style.css', rel='stylesheet')
    link(href='http://ariatemplates.com/styles/snippets/highlight_skin.css', rel='stylesheet')
            
    if (atversion || !settings.frameworkPath) 
      skinVersion = (skin === 'flatskin' || skin === 'atflatskin') ? 'flatskin' : 'skin'
      script(type='text/javascript', src='http://cdn.ariatemplates.com/at#{atversion || settings.frameworkVersion}.js?#{skinVersion}')
    else
      skinVersion = (skin) ? skin : "atskin-" + settings.frameworkVersion
      script(type='text/javascript', src='/aria/#{settings.frameworkFileName.replace("%version%", settings.frameworkVersion)}')
      script(type='text/javascript', src='/aria/css/#{skinVersion}.js')
    
    script(type='text/javascript').
      aria.core.AppEnvironment.setEnvironment({
        defaultWidgetLibs: {
          aria: "aria.widgets.AriaLib",
          html: "aria.html.HtmlLibrary"
        }
      });

      aria.core.IOFiltersMgr.addFilter({
        'classpath': 'viewer.ViewerFilter',
        'initArgs': {
          'host': "#{host}",
          'rootmap': "#{rootmap}",
          'sample_folder': "#{sample_folder}"
        }
      });
    style(type="text/css").
      .live {
        position: absolute;
        top: 0; left: 5px;
        bottom: 5px; right: 5px;
      }
      .live > div {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
      }
    //if IE 7
      style(type="text/css").
        html, body {
          overflow: hidden;
        }
        body {
          margin: 0, padding: 0;
          position: absolute;
          width: 100%; height: 100%;
        }
        .live {
          top: 0; left: 0;
          width: 100%; height: 100%;

        }
  body
    div(id=sample_id, class="live")
    script(type="text/javascript").
      Aria.loadTemplate({
        classpath: 'viewer.views.Main',
        div: "#{sample_id}",
        moduleCtrl: {
          'classpath': "viewer.ViewerCtrl",
          'initArgs': {
            'yaml': !{yaml},
            'sample_folder': "#{sample_folder}"
          }
        }
      });
    script(type="text/javascript").
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-29575860-3', 'ariatemplates.com');
      ga('send', 'pageview', "#{sample_folder}");