!!! 5
html
  head
    title Aria Templates Sample: #{title}
    link(href='/css/webfonts.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
    link(href='/css/highlight_skin.css', rel='stylesheet')
    script(type='text/javascript', src='/aria/ariatemplates-#{ariatemplates}.js')
    script(type='text/javascript', src='/aria/css/atskin-#{ariatemplates}.js')
    script(type='text/javascript')
      aria.core.AppEnvironment.setEnvironment({
        defaultWidgetLibs: {
          aria: "aria.widgets.AriaLib",
          html: "aria.html.HtmlLibrary"
        }
      });

      aria.core.IOFiltersMgr.addFilter({
        'classpath': 'viewer.ViewerFilter',
        'initArgs': {
          'rootmap': "#{rootmap}",
          'sample_folder': "#{sample_folder}"
        }
      });
    style(type="text/css")
      .live {
        position: absolute;
        top: 0; left: 5px;
        bottom: 5px; right: 5px;
      }
      .live > div {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
      }
  body
    div(id=sample_id, class="live")
    script(type="text/javascript")
      Aria.loadTemplate({
        classpath: 'viewer.views.Main',
        div: "#{sample_id}",
        moduleCtrl: {
          'classpath': "viewer.ViewerCtrl",
          'initArgs': {
            'yaml': !{yaml},
            'sample_folder': "#{sample_folder}"
          }
        }
      });